<div id="<%= dom_id project_task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= project_task.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= project_task.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= project_task.project_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this project task", project_project_task_path(id: project_task.id), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this project task', edit_project_project_task_path(id: project_task.id), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
