<div class="w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div>
      <%= link_to 'Back to projects', projects_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit project', edit_project_path(@project), class: "mt-4 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Project Tasks', project_tasks_path(@project), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to 'Destroy this project', project_path(@project), method: :delete, class: "mt-4 rounded-lg py-3 px-5 bg-red-100 font-medium" %>
      </div>
    </div>

    <%= render @project %>

    <p class="block font-bold mb-1">Comments</p>
    <hr class="mt-6">

    <% @project.comments.each do |comment| %>
      <p class="my-7">
        <strong class="block font-medium mb-1">Author: <%= comment.full_name %> </strong>
      </p>

      <p class="my-7">
        <%= comment.body %>
      </p>

      <hr class="mt-6">
    <% end %>

    <br>

    <p class="block font-bold mb-1">Add a comment: </p>
    <%= form_with model: [ @project, Comment.new ] do |form| %>
      <div class="my-5">
        <%= form.label :full_name %>
        <%= form.text_field :full_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-4 w-full" %>
      </div>

      <div class="my-5">
        <%= form.label :body %>
        <%= form.text_area :body, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-4 w-full" %>
      </div>

      <div class="inline">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    <%end%>
  </div>
</div>
